h1.title Questionario id#{@questionnaire.id} #{@questionnaire.name} 
p
  strong Instructions:
  = @questionnaire.instructions

=> link_to 'Edit', edit_questionnaire_path(@questionnaire)
'|
=< link_to 'Back', questionnaires_path
